
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  
  nav {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #007bff;
  }
  
  header {
    background-color: black;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    
  }
  
  header h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  main {
    padding: 30px;
  }
  
  section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  section p {
    line-height: 1.8;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    header h1 {
      font-size: 2em;
    }
  }
  
  /* Increase the width of the white page */
  main {
    width: 100%; /* Occupy full width */
    max-width: 1200px; /* Set a maximum width for larger screens */
    margin: 0 auto; /* Center the main content */
  }